body{background-image: url(fondo2.jpg);}

/* BARRA DE LA PAGINA, LOGO Y SALIR ............................................*/

.img{
    height: 110px;
    background-color:rgb(148, 67, 196);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:-1% 0%;
}
.titulo{margin: 0% 0% 0% -2%;}
.sub{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: cornflowerblue;
    margin: -3% 20% 0% 31%;
}

.log:hover img{
    transform: scale(1.10);
    transition: .5s;
}

.logaut{
    margin-left: 95%;
    margin-top: -1%;
    color: cornflowerblue;
}

/*-------------------------------------------------------------------------------------------------------------*/

.id{
    margin: 5% 0% -17% 7%;
    font-size: 178%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 3%;
    padding-right: 3%;
    
}

.pos{
    margin-bottom: 3%;
    margin-top: 11px;
}
.pos:hover{ color: cornflowerblue;}

/*-------------------------------------------------------------------------------------------------------------*/

.pro{
    display: flex;
    justify-content: center;
}

.pr3{
    margin: 12% 0% -90% -84%;
    background-color: rgb(65, 190, 107);
    padding: 5%;
}

.pl3{ margin: 6% 0% -14% -43%; color: rgb(64, 219, 64); font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.pd3:hover button{transform: scale(1.06); transition: all .5s;}
.pl3:hover{color: rgb(185, 128, 20);}
button{border-radius: 30px;}
 
/*-------------------------------------------------------------------------------------------------------------*/


.des{
    margin: -5% 0% -17% 62%;
    font-size: 152%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-left: 9%;
    padding-right: 9%;
}

.des2{margin: 0% 1% 0% 0%;}
.des2:hover{color: cornflowerblue}
.mov{margin-top: -23%;}

p {
    padding: 23px;
    margin: 8px 0% 8% 0%;
    border: thin solid black;
    background-color: cornflowerblue;;
    width: 410px;
    margin-left: 64%;
    overflow: scroll;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 150%;
    padding-bottom: 0%;
    padding-top: 0%;
    }

.com{margin-left: 74%; margin-top: 0%;}
.com:hover{color: cornflowerblue}
.pp:hover button{transform: scale(1.20); transition: all .5s;}
button{margin: 0% 7% -2% 1%;}

.pag{ margin: -1% -76% 0% 78%;}


